{% extends 'Vyas/basic.html' %}

    <title>{% block title %} Shvaas - Local Supporters {% endblock %} </title>
    {% block body %} 
    <style>
body {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/0e333a18606681.562cc49db1427.jpg');
}
</style>
<style>
        .navbar-dark{
           background-image: url("https://media.giphy.com/media/DXp2Qp5RsNHkA/giphy.gif")

        }
    
  .card {
   background: rgb(1,1,0);
background: linear-gradient(167deg, rgba(1,1,0,0.7502188375350141) 0%, rgba(102,76,49,0.75) 100%);
}
</style>


<div class="card text-white" align = "center"  style="max-width: 76rem;">
  <div class="card-header"> <h1> <b> Our Local Vendors </h1> </b> </div>
  <div class="card-body">
    <h5 class="card-title">We thank them for their support!</h5>
    <p class="card-text"> <b>
    . The essentials store - +91 978778282
    <br>
    . Narayan General store - +91 928902738
    <br>
    . Seleva Store - +91 987282733
    <br>
    . Ginni General Store - +91 832878728
    <br>
    . Devi Kripa General Store - +988988006
    <br>
    . Gada Electronics - +272262261
    <br>
    . Cheda Electronics - +676767152
    <br>
    . Mahesh Lal and Sons - +888819171
    <br>
    . HP world - +988928006
    <br>
    . Rhythm academy - +272252261
    <br>
    . Sunil Book Depot - +676767132
    <br>
    . Shvaas Sports - +888819172
    <br>
     . Sarvesh Sports - +646767132
    <br>
    . Unique Cosmetics - +886819172
    </b>
  </p>
  </div>
</div>

     {% endblock %} 