<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel = "icon" href ="https://bn1301files.storage.live.com/y4mfh5WQ0uFaZnKc2nXSMtTMJahw3_xc_WS5rdxdsw3NfW4cjHBUGZeqxp5KyHU-av--JIAY4WgHbHQIcnpZA_q9Yq67Y50g6kmXycu13vX3uffvviobnkzQ-vKIe-AFtzgMZjJPj1KuVo8S4wpzfa-YElukpoHz6cvpJjH_USF5i-Nog7JtMSvLP_AUGNESX5R?width=256&height=256&cropmode=none" 
        type = "image/x-icon">  
          <style>
        .navbar-dark{
          background-image: url("https://media1.giphy.com/media/3o6UBedJJfaxXHvZyU/giphy.gif")

        }
</style>
        <style>
body {
  background-image: url('http://getwallpapers.com/wallpaper/full/1/1/8/188879.jpg');
}
</style>
    <title>Shvaas Insider</title>
    {% extends 'Vyas/basic.html' %}
{% block css %}
    {% endblock %}
{% block body %}
<body>
<iframe src="https://eyes.nasa.gov/dsn/dsn.html" title="Deep Space Network" height="1000px" width="1800px"></iframe>
{% load static %}

  </body>
  {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
