{% extends 'Vyas/basic.html' %}

    <title>{% block title %} Shvaas - Contact Us! {% endblock %} </title>
    {% block body %} 

    <center>
<div class="card text-white" align = "center"  style="max-width: 76rem;">
  <div class="card-header"> <h1> <b> Contact Us </h1> </b> </div>
  <div class="card-body">
    <h5 class="card-title">At Shvaas Your Satisfaction Matters</h5>
    <p class="card-text">For feedback you can mail us at : Shvaas.Tailsavish@gmail.com  
    For any product related query you can mail us at: Product.shvaas@gmail.com <br>
    For query regarding your order you can reach out to use at: Track.product.shvaas@gmail.com<br>
    Feel Free to reach our customer care service on: 0522 ******
    <h1> Sellers? Register Here! </h1>
<div class="container">
     <form action="/Vyas/contact/" method="post">{% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name" style="background:background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,0.7502188375350141) 0%, rgba(255,255,255,0.75) 100%)">
  </div>
          <div class="form-group">
    <label for="name">Shop</label>
    <input type="name" class="form-control" id="shop" name="email" placeholder="What's Your Shop Name" style="background:background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,0.7502188375350141) 0%, rgba(255,255,255,0.75) 100%)">
  </div>

   <div class="form-group">
    <label for="name">Your email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Your Email Id" style="background:background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,0.7502188375350141) 0%, rgba(255,255,255,0.75) 100%)">
  </div>
          <div class="form-group">
    <label for="name">Phone</label>
    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number" style="background:background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,0.7502188375350141) 0%, rgba(255,255,255,0.75) 100%)"  >
  </div>
          <div class="form-group">
   <div class="form-group">
    <label for="desc" >Your address</label>
    <textarea class="form-control" id="desc" name="description" rows="3" style="background:background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,0.7502188375350141) 0%, rgba(255,255,255,0.75) 100%)"></textarea>
  </div>

       <div class="form-group">
   <div class="form-group">
    <label for="desc">What are you interested to sell with us</label>
    <textarea class="form-control" id="desc" name="product" rows="3" style="background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,0.7502188375350141) 0%, rgba(255,255,255,0.75) 100%)"></textarea>
  </div>


  <button type="submit" class="btn btn-warning">Submit</button>
    </p>
  </div>
</div>
<style>
  .card {
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,0.4701067927170869) 0%, rgba(8,8,8,0.47290791316526615) 35%, rgba(0,0,0,0.47851015406162467) 100%);
}
</style>
</div>
</div>
</div>
</center>
    {% endblock %} 
