{% extends 'Vyas/basic.html' %}

    <title>{% block title %} Shvaas Ltd. {% endblock %} </title>
    {% block body %} 
    {% load static %}

<div class="flex flex-auto justify-center">
<div class="items-center m-2">
<a class="btn btn-warning" href="/Vyas" role="button"> Take me to Shvaas! </a>
<a class="btn btn-dark mx-3" href="#" role="button"> This video-page will introduce you to our team at who have made Shvaas and give insights into the project! </a>
<a class="btn btn-warning mx-3" href="/Vyas/about" role="button"> Know More about Us </a>

<!-- Bg video -->
<video autoplay loop id="myVideo" controls style="object-fit: cover;" height='620' width='1350' >
  <source src={% static "Vyas/rain.mp4"  %} type="video/mp4">
</video>
</div>

<div> </div>

</div>





    {% endblock %} 
