<!doctype html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script> 

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome To Shvaas</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel = "icon" href ="https://bn1301files.storage.live.com/y4mfh5WQ0uFaZnKc2nXSMtTMJahw3_xc_WS5rdxdsw3NfW4cjHBUGZeqxp5KyHU-av--JIAY4WgHbHQIcnpZA_q9Yq67Y50g6kmXycu13vX3uffvviobnkzQ-vKIe-AFtzgMZjJPj1KuVo8S4wpzfa-YElukpoHz6cvpJjH_USF5i-Nog7JtMSvLP_AUGNESX5R?width=256&height=256&cropmode=none" 
        type = "image/x-icon">  
    {% extends 'Vyas/basic.html' %}

      {% block css %} 
          .col-md-3
          {
          display: inline-block;
          margin-left:-4px;
          }
          .carousel-indicators .active {
          background-color: yellow;
            }
          .col-md-3 img{
          width:100%;
          height:a;
          }
          body .carousel-indicator li{
          background-color: yellow;
          }
          body .carousel-indicators{
          bottom: 0;
          }
          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: black;
          }
           body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }
  {% endblock %} 
  </head>
  {% block body %}  

  {% load static %}

<br>
<br>

<div class="m-4 px-4">
 <a class="btn btn-warning" href="contact/"  role="button"> Want to sell with us? Register here! </a>
 <a class="btn btn-warning" href="collabs/"  role="button"> View Our Local Suppliers </a>
</div>
 <br>
 <br>
    <!--Slideshow starts here -->

      <div class="grid justify-center grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">

        <a rel="noopener noreferrer" href="Art/" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-50">
          <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="{% static "vyas/art.png" %}" />
          <div class="p-6 space-y-2">
            <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">Art and Interior Design</h3>
            <p> Shvaas offers you the best artworks, poster, design, wallpapers and other stuff of interior house decoration, you name it, we have it for you! Shop now at Shvaas.</p>
          </div>
        </a>

          <!-- Smartware -->
          <a rel="noopener noreferrer" href="Prodview1/" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-50">
            <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="{% static "vyas/smart.png" %}" />
            <div class="p-6 space-y-2">
              <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">Smartware</h3>
              <p>Purchase your new smartphone, laptop, computer, and other office and daily use electronic devices today with Shvaas' offers!</p>
            </div>
          </a>
        
          <!-- Softwares -->
          <a rel="noopener noreferrer" href="Software/" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-50">
            <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="{% static "vyas/microsoft2.png" %}" />
            <div class="p-6 space-y-2">
              <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">Softwares</h3>
              <p>Your favorite software is all here! Choose from offerings by Microsoft, Google, IBM, Adobe, and more. Shop them today at Shvaas!</p>
            </div>
          </a>
        
          <!-- Sanitation and Personal Hygiene -->
          <a rel="noopener noreferrer" href="PCH" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-50">
            <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="{% static "vyas/PCH.jpg" %}" />
            <div class="p-6 space-y-2">
              <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">Sanitation and Personal Hygiene</h3>
              <p>Shvaas offers tested and "society approved" sanitation and personal care products. On every purchase in this category, we provide a free sanitizer and mask!</p>
            </div>
          </a>
        
          <!-- Grocery -->
          <a rel="noopener noreferrer" href="grocery/" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-50">
            <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="{% static "vyas/grocery.jpeg" %}" />
            <div class="p-6 space-y-2">
              <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">Grocery</h3>
              <p>Grocery is a daily need, and at Shvaas, we've linked local businesses to provide instant availability. Shop today!</p>
            </div>
          </a>
        
          <!-- Fashion and Clothing -->
          <a rel="noopener noreferrer" href="Clothing/" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-50">
            <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="{% static "vyas/clothing.jpg" %}" />
            <div class="p-6 space-y-2">
              <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">Fashion and Clothing</h3>
              <p>"Quality Never Goes Out Of Style" - Levis. Explore the best clothing options and latest fashion trends at Shvaas!</p>
            </div>
          </a>
        
          <!-- Ayurvedic Products -->
          <a rel="noopener noreferrer" href="ayurveda/" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-50">
            <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="{% static "vyas/herbs.png" %}" />
            <div class="p-6 space-y-2">
              <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">Ayurvedic Products</h3>
              <p>Get the goodness of Ayurveda delivered to your doorstep directly from local "pancharis" at Shvaas!</p>
            </div>
          </a>

          <!-- Books and Goodreads -->
          <a href="Book/" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-50">
            <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="https://img.thrfun.com/img/221/151/books_tx2.jpg" />
            <div class="p-6 space-y-2">
              <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">Books and Goodreads</h3>
              <p>Books are the best friend of humans. We acknowledge this and bring you books from local bookstores and cross-city connections. Shop today and get big discounts from Shvaas!</p>
            </div>
          </a>
        
          <!-- JEE Prep With Shvaas -->
          <a href="education/" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-50">
            <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="{% static "vyas/JEE.PNG" %}" />
            <div class="p-6 space-y-2">
              <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">JEE Prep With Shvaas</h3>
              <p>You need education-related stuff. Get stationery, books, and copies from big publishers in India, supplied by your favorite shops. Backed by discounts, only from Shvaas!</p>
            </div>
          </a>
        
          <!-- Song and Music -->
          <a href="Music/" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-50">
            <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="{% static "vyas/music2.png" %}" />
            <div class="p-6 space-y-2">
              <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">Song and Music</h3>
              <p>Songs refresh you and set the mood. We have a big collection of pop, rock, metal, country, and countless genres. We also provide top Hindi hits and traditional folk songs at the cheapest price. Plus, we sell music equipment!</p>
            </div>
          </a>
        
          <!-- Sports, Games and Fitness Equipments -->
          <a href="Sports/" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-50">
            <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="https://th.bing.com/th/id/OIP.LJuVOq2HdAVN22zSUlIwvgHaHa?pid=ImgDet&rs=1" />
            <div class="p-6 space-y-2">
              <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">Sports, Games and Fitness Equipments</h3>
              <p>Sports are essential for day-to-day physical activities and fun for kids. Let Shvaas supply you with the best equipment of your choice, supplemented by our awesome service!</p>
            </div>
          </a>        

      </div> 

    </div>

<script> 
  const images = document.querySelectorAll(".grid img"); 
 
  const tl = gsap.timeline(); 
 
  images.forEach((image, index) => { 
    tl.fromTo( 
      image, 
      { x: "120%", opacity: 0, delay: index * 0.2 },  // Adjusted delay 
      { x: "0%", opacity: 1, width: "100%" } 
    ); 
  }); 
</script> 


  {% endblock %} 
</html>
