<html lang="en">
<head>
</head>
<BODY bgcolor="black">
<CENTER>
<H1> <Font color = "yellow"> Shvaas By Tails AviSh </H1>
</CENTER>
<img src = "https://bn1301files.storage.live.com/y4mfh5WQ0uFaZnKc2nXSMtTMJahw3_xc_WS5rdxdsw3NfW4cjHBUGZeqxp5KyHU-av--JIAY4WgHbHQIcnpZA_q9Yq67Y50g6kmXycu13vX3uffvviobnkzQ-vKIe-AFtzgMZjJPj1KuVo8S4wpzfa-YElukpoHz6cvpJjH_USF5i-Nog7JtMSvLP_AUGNESX5R?width=256&height=256&cropmode=none" height=100px>
<center>
<h2> <em>Thanks For Choosing Shvaas</em> </h2>
<br>

<r>
<h3>
Your Order has  been placed successfully and it will reach you within next 2 business days.
<Br>
<br>
Please keep the invoice (attached) safely with you.  The invoice contains order Id which can be used to track your order on the shvaas website oder tracker 
</center>
</h3>
<br>
<br>
<marquee> <font color="orange"> "AT SHVAAS YOUR SATISFACTION MATTERS THE MOST" - AVIRAL, VIKRAM AND SHAURYA </MARQUEE> </font>
</BODY>
</html>
